
$primary: #212529;
$body-bg: #fad85c;
$font-family-base: 'Arial', sans-serif;

body {
  padding-top: 56px; /* Висота навігаційної панелі */
}

h1 {
  font-weight: bold;
}

@import "../node_modules/bootstrap/scss/bootstrap";

